[test]
Schedule.SimpleSol1 = 1
Schedule.SimpleNoSolMaxShifts = 1
Schedule.SimpleNoSolNoAvail1 = 1
Schedule.SimpleNoSolNoAvail2 = 1
Schedule.SimpleNoSolNoAvail3 = 1
Schedule.Nominal1 = 1
Schedule.Nominal1NoSol1 = 1
Schedule.Nominal1NoSol2 = 1
Schedule.Nominal2 = 1
Schedule.Instructor1 = 1
Schedule.Instructor2NoSol = 1
