[test]
Wordle.Empty = 1
Wordle.NoSolutions = 1
Wordle.OneLetterUnconstrained = 1
Wordle.OneLetterConstrained = 1
Wordle.TwoLetterUnconstrained = 1
Wordle.TwoLetterConstrained = 1
Wordle.ThreeLetterFull = 1
Wordle.OneOption = 1
Wordle.Nominal1 = 1
Wordle.Nominal2 = 1
Wordle.Nominal3 = 1
Wordle.Long = 1
Wordle.Instructor1 = 1
Wordle.Instructor2 = 1
Wordle.Instructor3 = 1
